In [2]:
import pandas as pd

flow_spread_df: pd.DataFrame = pd.DataFrame(
    columns=["rated_flow_percentage", "operated_hours"],
    data=[
        ["30%", 0],
        ["40%", 0],
        ["50%", 3],
        ["60%", 9],
        ["70%", 8],
        ["80%", 5],
        ["90%", 2],
        ["100%", 1],
    ],
)

flow_spread_df

  rated_flow_percentage  operated_hours
0                   30%               0
1                   40%               0
2                   50%               3
3                   60%               9
4                   70%               8
5                   80%               5
6                   90%               2
7                  100%               1

In [3]:
flow_spread_df["operated_hours"].sum()

28

In [5]:
flow_spread_df["normalized_operated_hours"] = (
    flow_spread_df["operated_hours"] / flow_spread_df["operated_hours"].sum()
) * 24
flow_spread_df

  rated_flow_percentage  operated_hours  normalized_operated_hours
0                   30%               0                   0.000000
1                   40%               0                   0.000000
2                   50%               3                   2.571429
3                   60%               9                   7.714286
4                   70%               8                   6.857143
5                   80%               5                   4.285714
6                   90%               2                   1.714286
7                  100%               1                   0.857143

In [6]:
flow_spread_df["normalized_operated_hours"].sum()

24.0